body{
    display:grid;
    grid-template-columns: auto 800px auto;
    grid-template-rows: auto 550px auto;
    gap: 20px;
    margin: 0px;
    background-color: black ;
}
 
 
#title{
    grid-column-start: 2;
    grid-row-start: 1;
    text-align: center;
    font: 500;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}
 
#gameWindow{
    position: relative;
    width: 800px;
    height: 550px;
    grid-column-start: 2;
    grid-row-start: 2;
    background-color: blue;
 
}
 
/*Main Character*/
#mainCharacter{
    width: 32px;
    height: 64px;
    background-color: aquamarine;
}
#inventoryBox{
    position: relative;
    display: block;
    left: 10px;
    top: 10px;
    width: 200px;
    height: 100px;
    background-color: rgb(72, 27, 0);
    color: white;
    border: white 1px solid;
    padding: 10px;
   
}
#dialogueBar{
    bottom: 0px;
}
#setMainDialogue{
    position: relative;
    height: 64px;
    width: 800px;
}
#brownBar{
    position: absolute;
    height: 32px;
    width: 800px;
    background-color: brown;
    bottom: 0px;
}
#mainCharacterSpeech{
  left: 0;
  bottom: 0;
  background-color: red;
  width: 100px;
  height: 100px;
}
#counterSpeech{
    right: 0px;
    bottom: 0px;
    background-color: red;
    width: 100px;
    height: 100px;
}
 
/*Classes*/
.foreground{
    position: absolute;
    z-index: 1000;
}
 
.heroCharacter{
    position: absolute;
    z-index: 100;
}
 
 
.background{
    position: absolute;
    z-index: 0;
}